/* SETUP STYLES */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}



/* GENERAL STYLES */

.outer-wrapper {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.inner-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.hand-crafted,
.icons,
footer {
    background-color: #14171f;
}

.latest-collection,
.grid {
    background-color: #201e21;
}

h1,
h3,
h4,
h5,
a,
p,
label,
.btn,
.social {
    color: #fff;
}

h2,
main i {
    color: #faba63;
}

h1,
h3,
h4,
h5,
.read-more,
footer a,
.btn {
    font-family: "italiana";
}

h3 {
    font-size: 51px;
}

h2,
header a,
p,
label {
    font-family: "lato";
}

p,
label {
    font-weight: 300;
}

a,
p {
    line-height: 29px;
}

label {
    line-height: 40px;
}


h1,
h3,
h4,
h5,
.read-more,
footer a,
.btn {
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

footer p {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.read-more {
    display: inline-block;
    margin-top: 15px;
    padding: 5px;
    border: #faba63 2px solid;
    font-size: 25px;
    line-height: 29px;
}

.hand-crafted,
.latest-collection,
.icons,
footer div:first-child {
    padding: 8% 0;
}




/* HEADER STYLES */

header {
    background-image: url("./assets/header-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header .inner-wrapper {
    padding-top: 15px;
    padding-bottom: 0;
}

.hero-text {
    padding: 135px 0 0 0;
    width: 60%;
}

h1 {
    font-size: 162px;
    float: right;
    clear: both;
    line-height: 140.4px
}

h2 {
    font-size: 45px;
    font-weight: 300;
    float: right;
    clear: both;
    line-height: 46px;
}

header a {
    color: #faba63;
    font-size: 20px;
    float: left;
    margin-right: 40px;
}

header button {
    display: none;
}

.social {
    float: right;
    font-size: 1em;
    margin: 3%;
}



/* HAND-CRAFTED STYLES */

.text-wrapper {
    float: left;
    margin-left: 50px;
    max-width: calc(75% - 50px);
}

.hand-crafted img {
    float: left;
    /* margin-top: 5%;
    margin-bottom: 5%; */
    max-width: 25%;
}



/* LATEST COLLECTION STYLES */

.latest-collection .gallery {
    padding: 5% 0;
}

.gallery-item {
    float: left;
    width: calc(33.3% - 20px);
}

.gallery-item:nth-of-type(2) {
    margin: 0 30px;
}

.latest-collection h3 {
    text-align: center;
}



/* ICONS SECTION */

.icon {
    float: left;
    text-align: center;
    font-size: 30px;
    width: 33%;
}

i {
    font-size: 1.5em;
    margin-bottom: 15px;
}



/* GRID SECTION */

.grid-img-1,
.grid-img-2,
.grid-text-1,
.grid-text-2 {
    width: 50%;
}

.grid-img-1,
.grid-text-1 {
    float: right;
}

.grid-img-2,
.grid-text-2 {
    float: left;
}

.grid-text-1 {
    padding: 10% 10% 10% 0;
}

.grid-text-2 {
    padding: 10% 0 10% 10%;
}

/* FOOTER STYLES */

h5 {
    font-size: 25px;
}

footer a {
    font-size: 20px;
}

footer nav,
.newsletter-signup,
.contact {
    float: left;
    width: 25%;
}

.newsletter-signup {
    text-align: center;
    width: 50%;
}

.email {
    width: 65%;
    font-family: "lato";
    font-weight: 300;
}

.btn {
    background-color: black;
    border: none;
    height: 1.9em;
}

.contact h5, .contact p {
    float: right;
    clear: both;
}

.copyright {
    background-color: #000;
    text-align: center;
    clear: both;
}

/* MEDIA QUERIES */

@media (max-width: 1350px) {

    /* ajusting grid margins */
    .grid-text-1 {
        padding: 5% 5% 5% 0;
    }
    .grid-text-2 {
        padding: 5% 0 5% 5%;
    }
}

@media (max-width: 1100px) {

    header {
        background-size: cover;
    }

    /* ajusting font size */
    p {
        font-size: 1em;
    }

    /* compressing footer */
    footer nav,
    .newsletter-signup,
    .contact {
        clear: both;
        width: 100%;
        float: none;
        text-align: center;
    }

    footer a {
        text-transform: none;
        font-family: "lato";
        font-weight: 300;
    }

    footer li {
        float: left;
        margin: 15px;
    }

    .newsletter-signup,
    .contact {
        padding-top: 5%;
    }

    .contact h5,
    .contact p {
        float: none;
    }

    .email,
    .btn {
        width: 100%;
        height: 3em;
    }

    .email::placeholder {
        text-align: center;
    }

    .btn {
        margin-top: 10px;
        font-size: 1.5em;
    }

    /* adjusting header */
    
    .hero-text {
        width: 60%;
    }

    /* h1 {
        font-size: 8em;
    } */
}

@media (max-width: 940px) {

    /* ajusting grid margins */
    .grid-text-1 {
        padding: 2% 2% 2% 0;
    }

    .grid-text-2 {
        padding: 2% 0 2% 2%;
    }

    /* adjusting hand-crafted margin */
    .text-wrapper {
        margin-left: 2%;
    }

    /* adjusting gallery margin */
    .gallery-item:nth-of-type(2) {
        margin: 0 15px;
    }

    .gallery-item {
        width: calc(33.3% - 10px);
    }

    /* adjusting font sizes */
    h3 {
        font-size: 2em;
    }

    .read-more {
        font-size: 1em;
        padding: 10px;
    }

    .inner-wrapper {
        width: 90%;
    }

    /* adjusting header */

    header {
        background-size: cover;
    }

    .hero-text {
        padding: 70px 0;
        width: 50%;
    }

    h1 {
        font-size: 6em;
        line-height: 90px;
    }

    h2 {
        font-size: 2em;
    }

    /* switch to hamburger menu */

    header li {
        visibility: hidden;
    }

    header button {
        display: block;
        float: right;
        background-color: #201e21;
        border: none;
    }

    header i {
        color: #fff;
        font-size: 2.5em;
        margin: 10px;
    }
    
}

@media (max-width: 768px) {

    /* shrink wrapper */
    .inner-wrapper {
        width: 95%;
    }

    /* change to mobile header */
    header {
    background-image: url("./assets/header-mobile.jpg");
    background-size: cover;
}

    h1 {
        font-size: 4em;
        line-height: 60px;
    }

    h2 {
        line-height: 30px;
    }

    .hero-text {
        width: 50%;
        padding-top: 50%;
        padding-bottom: 100%;
    }

    /* make hand-crafted vertical */
    .img-wrapper {
        content: url("./assets/holding-3-rings.jpg");
        width: 96%;
        margin: 0 auto;
    }

    .hand-crafted {
        padding-top: 60px;
    }

    h3 {
        font-size: 2.5em;
        padding: 40px;
    }

    .text-wrapper {
        max-width: none;
    }

    /* .read-more {
        width: 100%;
        margin: 15px auto;
        display: block;
    } */

    /* hide final gallery item */
    
    .gallery-item:last-child {
        display: none;
    }

    .gallery-item:nth-of-type(2) {
        margin: 0 0 0 15px;
    }

    .gallery-item {
        width: calc(50% - 8px);
    }

    /* shrink icons section */
    h4 {
        font-size: 0.6em;
    }

    /* make grid vertical */

    .grid-img-1,
    .grid-img-2,
    .grid-text-1,
    .grid-text-2 {
        float: none;
        width: 100%;
    }


}

@media (max-width: 480px) {
    
    /* shrink hero text */
    h1 {
        font-size: 3.5em;
        line-height: 48px;
    }

    h2 {
        font-size: 1em;
    }

    /* stackinig icons */

    .icon {
        float: none;
        margin: 0 auto;
        width: 50%;
        padding: 25px 0;
    }
}

@media (max-width: 320px) {

}